body{
    background-image: url('imagenes/fondo.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    text-align: center;
}

input[type="number"], input[type="text"]{
    padding: 10px;
    font-size: 18px;
    margin: 5px;
}

.buttons{
    display: flex;
    justify-content: center;
}

botton{
    padding: 10px 20px;
    font-size: 18px;
    margin: 5px;
}
